{% extends "base.html" %}

{% block title %}About{% endblock %}


{% block content %}
<section class="page-section">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-cloud"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <p></p>
    </div>
</section>        
<section class="page-section">
    <div class="container">
        <p></p>
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-tree"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Business specialist and IT passionate with a focus on strategic planning, financial analysis and business intelligence. My interests are closely aligned with Data Science, Deep and Machine Learning.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Passionate and assertive, with experience in both startups and corporates, as well as capable of sharp executions coupled with relentless ambition and energy, which will enable the business to reach targets and goals.</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-primary btn-xl" href="https://drive.google.com/file/d/1dklvfNxrGPcUnqcBePmqpiFhhZ1HlIsy/view?usp=sharing" target="_blank">
                <i class="fas fa-download me-2"></i>
                Download my CV
            </a>
        </div>
        <p></p>
    </div>
</section>

{% endblock %}