{% macro header() -%}

<!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="row">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="static/img/Andrea_peep (Copy).svg" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Andrea Viviani</h1>
                <p></p>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-cloud" style="font-size:24px"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Product Manager - Data Scientist</p>
            </div>
        </div>
    </header>

{%- endmacro %}